*
!kilroy_face_twitter/src/**
!kilroy_face_twitter/tests/**
!kilroy_face_twitter/pyproject.toml
!kilroy_face_twitter/poetry.lock
!kilroy_face_twitter/LICENSE
!kilroy_face_twitter/README.md
!environment.yaml
!requirements.txt
!entrypoint.sh
